__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
build/
dist/
.venv/

# libaji_client build artifacts (autotools is noisy)
vendor/libaji_client/aclocal.m4
vendor/libaji_client/ar-lib
vendor/libaji_client/autom4te.cache/
vendor/libaji_client/compile
vendor/libaji_client/config.guess
vendor/libaji_client/config.h
vendor/libaji_client/config.h.in
vendor/libaji_client/config.log
vendor/libaji_client/config.status
vendor/libaji_client/config.sub
vendor/libaji_client/configure
vendor/libaji_client/depcomp
vendor/libaji_client/install-sh
vendor/libaji_client/libtool
vendor/libaji_client/ltmain.sh
vendor/libaji_client/m4/
vendor/libaji_client/missing
vendor/libaji_client/Makefile
vendor/libaji_client/Makefile.in
vendor/libaji_client/stamp-h1
vendor/libaji_client/**/Makefile
vendor/libaji_client/**/Makefile.in
vendor/libaji_client/**/.deps/
vendor/libaji_client/**/.libs/
vendor/libaji_client/**/*.lo
vendor/libaji_client/**/*.la
vendor/libaji_client/**/*.o
vendor/libaji_client/**/*.so*
